.header {
  width: 100%;
  margin-bottom: 10px;
}
.header__grid {
  height: 10px;
  background-color: #1e3b68;
}
.header__logo {
  height: 80px;
  background-color: #355990;
}
.header__logo-title {
  color: #ffffff;
  font-weight: 100;
  margin-left: 300px;
  padding-top: 25px;
}
